---
layout: default
---
      <div class="row page-content">
         
        <div class="large-9 columns" role="content">
     
          {% for post in site.posts %}     
          <article>
            <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <p class="intro">Posted on {{ post.date | date_to_string }} in {{ post.categories }}</p>
     
            {{ post.excerpt }}
     
          </article>
          {% endfor %}
     
        </div>
        <aside class="large-3 columns">
          <h5>Categories</h5>
          <ul class="side-nav">
            <li><a href="#">News</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fun</a></li>
            <li><a href="#">Weasels</a></li>
          </ul>
     
          <div class="panel">
            <h5>Featured</h5>
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More →</a>
          </div>
     
        </aside>
     
         
      </div>
     
       
     
     
       
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                {% include navbar-top-right.html %}
              </ul>
            </div>
          </div>
        </div>
      </footer>
      {% include page-background.html %} 
