---
layout: default
---
      <div class="row page-content">
         
        <div class="large-9 columns" role="content">
     
          {% for post in paginator.posts %}     
          <article>
            <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
            <p class="intro">Posted on {{ post.date | date_to_string }} in {{ post.categories }}</p>
     
            {{ post.excerpt }}
     
          </article>
          {% endfor %}

<!-- Pagination links -->
<div class="row">
  <div class="small-2 columns">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}"><i class="fa fa-arrow-circle-left fa-3x left"></i></a>
  {% else %}
    <i class="fa fa-arrow-circle-left fa-3x left"></i>
  {% endif %}
  </div>
  <div class="small-8 columns text-center">Page: {{ paginator.page }} of {{ paginator.total_pages }}</div>
  <div class="small-2 columns">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}"><i class="fa fa-arrow-circle-right fa-3x right"></i></a>
  {% else %}
    <i class="fa fa-arrow-circle-right fa-3x right"></i>
  {% endif %}
  </div>
</div>
     
        </div>
        <aside class="large-3 columns">
          <h5>Categories</h5>
          <ul class="side-nav">
            <li><a href="#">News</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Fun</a></li>
            <li><a href="#">Weasels</a></li>
          </ul>
     
          <div class="panel">
            <h5>Featured</h5>
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More →</a>
          </div>
     
        </aside>
     
         
      </div>
     
      {% include page-background.html %} 
