---
layout: default
comments: true
---
      <div class="row page-content">
         
        <div class="large-9 columns" role="content">
     
            <a href="{{ page.url }}"><h3>{{ page.title }}</h3></a>
            <p class="intro">Posted on {{ page.date | date_to_string }} in {{ page.categories }}</p>
     
          <article>
            {{ content }}
     
          </article>

<!-- Links to next/previous post-->
<div class="divider"></div>
<div class="row page-link">
  <div class="small-4 columns">
  {% if page.previous.url  %}
    <a ref="{{ page.previous.url }}"><i class="fa fa-arrow-circle-left fa-3x left"></i>Previous: {{page.previous.title}}</a>
  {% endif %}
  </div>
  <div class="small-4 columns text-center"></div>
  <div class="small-4 columns">
  {% if page.next.url %}
    <a href="{{ page.next.url }}"><i class="fa fa-arrow-circle-right fa-3x right"></i>Next: {{page.next.title}}</a>
  {% endif %}
  </div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'benny-id';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

        </div>
        <aside class="large-3 columns">
          <h5>Categories</h5>
          <ul class="side-nav">
            {% include categories.html %}
          </ul>
     
          <div class="panel">
            <h5>Featured</h5>
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More →</a>
          </div>
     
        </aside>
     
         
      </div>
     
      {% include page-background.html %} 
